body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #4B4B4B;
}
/*button*/
.btn{
  background: var(--light-yellow);
  width: 37%;
  height: 48px;
  border: none;
  border-radius:50px ;
  font-size: 16px;
}
.text{
    color: white;
    font-size: 44px;
    text-align: center;
}
.text-2{
  color: white;
  font-size: 16px
}

.title{
  font-weight: 400;
  font-size: 44px;
  text-align: center;
}

/*background*/
.wd-hg{
  width: 100%;
  height: 768px;
}

.background{
    width: 100%;
    position: absolute;
  height: 768px;
    z-index: 1;
    object-fit: cover;
    background-position: 50% 200px;
    filter: brightness(50%);
}

.space-around{
      position: relative;
      width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.margin-bottom{
    margin-bottom: 137px;
}
.font-content{
  font-size: 18px;
  
}
.font-content-2{
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  text-align: start;
  color: #4B4B4B;
}
.section{
  font-weight: 400;
}
section p{
  text-align: center;
}
.main-advantages{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
}
.advantages{
      width: 300px;
    display: flex
;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}
.mac{
  width: 802px;
  height: 464px;
}
.padding{
  padding: 20px;
}
@media (max-width:1000px) {
  .card-bg{
    width: 345px;
    height: 232px;
  }
.btn{
  font-size: 11px;
}

  .wd-hg{
    height: 564px;
  }
  .font-content-2{
    font-size: 11px;
  }
  section p{
    font-size: 12px;
  }
  .title{
    font-size: 32px;
  }
.text{
  font-size: 32px;
}
.background{
  height: 564px;
}
.flex-content{
  gap:20px;
  width: 48%;
}

}
@media (max-width:500px) {
  .wd-hg{
    height: 554px;
  }
  .title{
    font-size: 20px;
  }
      .flex-content {
        gap: 80px;
        width: 75%;
}
.main-advantages{
  display: flex;
  flex-direction: column;
}
.mac{
  width: 290px;
  height: 168.32px;
}
}