:root{
    --light-yellow:#EBCB80;
}
/*Logo*/
.logo{
    margin: 0;
    font-size: 36px;
    color: #EBCB80;
}
/*HEADER*/
.header{
  position: relative;
  z-index: 2;
  display: flex ;
  justify-content: space-around;
  align-items: center;
}

/*Navigation*/
.main-nav-list{
    text-transform: uppercase;
    list-style: none;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    padding: 0;
    width: 53%;
    justify-content: space-evenly;
    color: #ffffff;

}
.li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/*HAMBUGER*/
.hambuger{
    display: none;
}
.flex-content{
        position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 38%;
    display: flex
;gap: 50px;
    flex-direction: column;
    align-items: center;
}
.flex-content:nth-child(2){
    gap:0;
           transform: translateY(100%);
}
/*VIDEO FRAME*/
.play-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    background: #F6F6F6;
    filter: opacity(60%);
    border: none;
    cursor: pointer;

}

.play-button::after{
    content:"";
    width: 0;
    height: 0;
  
    border-left:20px solid #4B4B4B;
    border-top:12px solid transparent;
    border-bottom: 12px solid transparent;
top: 37%;
left: 43%;
    position: absolute;

}
.main-video{
        display: flex
;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px #00000030;

}
 .video-frame{
width: 100%;
 }  

@media (max-width:1000px) {
    .flex-content:nth-child(2){
    gap:0;
    transform: translateY(60%);
}
    .main-nav-list{
        font-size: 12px;
    }
    .play-button{
            width: 50px;
    height: 50px;
    }   
    .play-button::after{
            top: 28%;
    left: 36%;

    }
}

@media (max-width:500px) {
    .main-nav-list{
        display: none;
    }
    .text{
        font-size:20px !important;
    }
    .hambuger{
        display: inline;
        cursor: pointer;
    }

}
/*MAIN CONTENT*/
.main-advantages{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
}
.advantages{
      width: 300px;
    display: flex
;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}
.mac{
  width: 802px;
  height: 464px;
}
.padding{
  padding: 20px;
}
.card-bg{
   width: 554px;
height: 322.52728271484375px;
top: 2271.33px;
left: 149px;
display: flex;
opacity: 1;
border-radius: 8px;

}
.person-border-radius-img{
    width: 96px;
    height: 96px;
    border-radius: 50px;
}
 /*FOOTER*/
 .footer{

 }