:root {
    --light-yellow: #EBCB80;
}

/*HEADER*/
.header {}

/*Navigation*/
.main-nav-list {
    text-transform: uppercase;
    list-style: none;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    gap: 20px;
    color: #ffffff;
    z-index: 3;
    padding: 0;
}

/*Logo*/
.logo {
    margin: 0;
    font-size: 36px;
    color: #EBCB80;
    z-index: 3;
}

/*background*/
.background {
    position: relative;

}

.background img {
    width: 100%;
    position: absolute;
    height: auto;
    overflow: hidden;
    z-index: 1;
    filter: brightness(50%);
}

/*ICONS*/
.main-list-icons {
    gap: 20px;
    display: flex;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}